<footer class="footer-distributed animatedSlide">
  <div class="footer-left">
    <h3><img src="assets/codingmartlogo.png" style="width: 42%;"></h3>
    <p class="footer-company-name">Copyright © 2015 - 16 | Codingmart Technologies Pvt. Ltd.</p>
  </div>
  <div class="footer-center">
       <table>
         <tr>
           <td> <i class="fa fa-map-marker"></i></td>
           <td style="color: white"><span class ="address"> II Floor,Sri Datri Nivas Opposite to Manyata Teck Park,Nagawara
        Bangalore -560045 </span></td>
         </tr>
         <tr>
           <td> <i class="glyphicon glyphicon-earphone"></i></td>
           <td style="color: white"><span class ="address">+91-89511-12340 </span></td>
         </tr>
         <tr>
           <td>
             <i class="glyphicon glyphicon-envelope"></i>
           </td>
           <td style="color: white"> <a href="mailto:code@codiingmart.com">code@codingmart.com</a></td>
         </tr>
       </table>
    
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          Codingmart was created by a bunch of people who have always challenged status quo and wanted to combine forces to make positive impact on the lives of entrepreneurs and consumers alike.
        </p>
        <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline"> 
          <li> <a href="https://www.facebook.com/GATEACADEMYERODE/"><i class="fa fa-facebook"></i></a></li>  
          <li> <a href="https://plus.google.com/105065897360440830550"><i class="fa fa-google-plus"></i></a></li>
          <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </footer>