<div navigate-view ></div>
<div class="container" style="margin-top: 8%;">
	<div class="row">
		<div class="col-md-12 col-md-push-1 col-sm-12 col-xs-12">
			<img src="assets/examdetail.jpg">
			<h4 style="text-align: center; margin-top: 3%">GATE Eligibility</h4>
			<section id="philosophy" style="padding: 0px 0px 0px 0px;">
				<p>Graduate Aptitude Test in Engineering (GATE) is an all India examination that primarily tests the comprehensive understanding of various undergraduate subjects in Engineering and Technology. GATE is conducted jointly by the Indian Institute of Science and seven IITs (IIT Bombay, IIT Delhi, IIT Guwahati, IIT Kanpur, IIT Kharagpur, IIT Madras and IIT Roorkee) on behalf of the National Coordination Board – GATE, Department of Higher Education, Ministry of Human Resource Development (MHRD), and Government of India.</p>
				</section>
				<div>
				</div>
			</div>
		</div>
		</div>
		<div class="table-responsive animatedSlide" style="margin-top: 3%">
		<h4 style="color: #a2a2de;"> GATE 2018 Important Dates</h4>
			<table class="table  table-bordered table-hover" id ="examDetails">
				<thead>
					<th>Qualifying Degree(short)</th>
					<th>Qualifying Degree/Examination (Descriptive)</th>
					<th>Description of Eligible candidates</th>
					<th>Year of Qualification cannot be later tdan</th>
					<tr>
					<th colspan="2">
						Copies of Certificates to be submitted
					</th>
					</tr>
						
				</thead>
				</table>
			</div>

		<span footer-view></span>
<style type="text/css">
#examDetails td{
    color: black;
    font-size: large;
}
</style>
