<div navigate-view ></div>
<div class="container" style="margin-top: 8%;">
	<div class="row">
		<div class="col-md-12 col-md-push-1 col-sm-12 col-xs-12">
			<img src="assets/examdetail.jpg">
			<h4 style="text-align: center; margin-top: 3%">GATE Exam - How To Apply</h4>
			<section id="philosophy" style="padding: 0px 0px 0px 0px;">
				<p>This information pertains to How to Apply for GATE 2016. The student needs to note that this information pertains to How to Apply for actual GATE 2016 Exam and NOT for Gateforum packages.</p>
           </section>
           <div>
           </div>
      </div>
 </div>
 </div>