<div navigate-view ></div>
<div class="container" style="margin-top: 5%;">
	<div class="row">
		<div class="col-md-12 col-md-push-1 col-sm-12 col-xs-12">
			<img src="assets/examdetail.jpg" class="courcesImg">
			<h4 style="text-align: center; margin-top: 3%">GATE Exam - How To Apply</h4>
			<section id="philosophy" style="padding: 0px 0px 0px 0px; border-bottom:0px;">
				<p style="font-size: inherit;">This information pertains to How to Apply for GATE 2016. The student needs to note that this information pertains to How to Apply for actual GATE 2016 Exam and NOT for Gateforum packages.</p>
			</section>
			<div class ="applyOnline">
				<p><span class="glyphicon glyphicon-hand-right hand"></span>All Supporting documents should be sent online only. No hard copy will be accepted
				</p>
				<p><span class="glyphicon glyphicon-hand-right hand"></span> Payments have to be made through debit/ATM cards, credit cards or internet banking and e-challan only
				</p>
			</div>
			<h3 class ="" style="font-size: 22px;color: #1b80ac;">How to apply?</h3>
			<p class ="">For further details please log on to <a href="http://www.gate.iisc.ernet.in/" target="_blank"><strong>http://www.gate.iisc.ernet.in/</strong></a></p>
		</div>
	</div>
</div>
<span footer-view></span>
<style type="text/css">
	.applyOnline p{
		color: #FFAB00;
		padding-left: 6%;
		padding-top: 0%;
		font-size: larger;
		font-weight: 800;
	}
	.applyOnline{
		margin-top: 3%;
		padding-top: 2%;
	}
	.hand{
		color: #635ccd;
		padding-right: 2%;
		size: 6%;
		font-weight: bolder;
	}
</style>