<section id="HomeSlider">
  <span navigate-view></span>
  <div class="banner-cnt">
    <!-- <h1><span style="color:#12c7e5">Gate 2018 & 2019</span></h1> -->
    <h1><span style="color:#12c7e5">hello</span></h1>
<!--  <ul class="list-inline home-tag">
<li style="color:#12c7e5">Click hear</li>
</ul> -->
<div class="button-8">
  <div class="eff-8"></div>
  <!-- <a class="link hvr-float-shadow" href="#Contact" >Click Hear</a> -->
</div>

</div>
<div class="flexslider" id="slider">
  <ul class="slides">
    <li class="homePageImages flex-active-slide" data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
      <img alt="test alt"   title="test title" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=" flex-active-slide  homePageImages">
      <img alt="alt slider2"  title="title slider2" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide homePageImages">
      <img alt="alt test3"   title="alt title3" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide homePageImages">
      <img alt="alt test3"  title="alt title3" src="assets/0.jpg" draggable="false">
    </li>
  </ul>
  <ol class="flex-control-nav flex-control-paging">
    <li>
      <a href="#" class="">1</a>
    </li>
    <li>
      <a href="#" class="">2</a>
    </li>
    <li>
      <a href="#" class="flex-active">3</a>
    </li>
  </ol>
  <ul class="flex-direction-nav">
    <li class="flex-nav-prev">
      <a class="flex-prev" href="#">Previous</a>
    </li>
    <li class="flex-nav-next">
      <a class="flex-next" href="#">Next</a>
    </li>
  </ul>
</div>
</section>
<a href="#" class="scrollup" title ="scroll top"><i class="fa fa-angle-up"></i></a>
<div class="container animatedSlide">
  <div class="row">
    <div class="col-md-12">
      <h3 class ="welcomeMsg">Welcome To my site</h3>
      <p class="descriptionWelcome">content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added</p>
    </div>
  </div>
</div>
<hr class="horizontal animatedSlide"  />
<h3 class="contentHeading animatedSlide">content to be added</h3>
<div id="infinetCarasoul" class ="animatedSlide infinetCarasoul">
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img2.jpg" width="500" height="213" class="imagehover"/>
    <div class="caption" >
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img33.jpg" width="500" height="213" class="imagehover" />
    <div class="caption">
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img5.jpg" width="500" height="213" class="imagehover" />
    <div class="caption">
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img6.jpg" width="500" height="213" class="imagehover" />
    <div class="caption" >
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img6.jpg" width="500" height="213" class="imagehover" />
    <div class="caption">
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
  <div class ="imageborder slick-slide slide">
    <img alt="" src="assets/img3.jpg" width="500" height="213" class="imagehover"/>
    <div class="caption">
      <h3 class ='nameOfThePerson'>Hello test</h3>
      <p>wecome</p>
      <p>hello</p>
    </div>
  </div>
</div>
<hr class="horizontal animatedSlide"  />
<h2 style="text-align: center;" class="animatedSlide" id="contactUs"> contact us</h2>
<div class="container animatedSlide" style="margin-top: 3%";>
  <div class="alert alert-success alert-dismissable successMailer flash_message"  style="display: none;">
    <strong>Thank you! we received your mail we will contact you soon</strong> 
  </div>
  <div class="alert alert-danger alert-dismissable errorMailer flash_message" style="display: none;">
    <strong>somthing went wrong please try again</strong> 
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <form name="contactUs" method ="get"  id ="contactUs">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name"  name="name" data-validation="required" data-validation-error-msg="Please enter  name"/>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" class="form-control" id="email" name = "email" placeholder="Enter email" data-validation="required email" data-validation-error-msg="Please enter your email" /></div>
              </div>
              <div class="form-group">
                <label for="Mobile">
                  Mobile Number</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span>
                  </span>
                  <input type="text" class="form-control" id="mobileNumber" name= "mobileNumber" placeholder="Enter Mobile number" data-validation=" required number" data-validation-error-msg="Please enter mobile number" /></div>
                </div>
                  
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">
                    Message</label>
                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" 
                    placeholder="Message" name "message" data-validation="required length" data-validation-length="max25" data-validation-error-msg="we allow only 25 characters only"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-push-5" style="margin-top: 6%;">
                <button type="button" class="btn btn-info pull-left" id="btnContactUs">
                  Contact me</button>
                  <button type="button" class="btn btn-default pull-left btnClr" id="resetForm" style="margin-left: 2%">
                    Reset</button>
                  </div>
                </form>
                <div class="loader" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
        <hr class="horizontal animatedSlide"/>
        <div class="container animatedSlide contactInfo">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div ng-controller ="mapShowCntrl">
                    <div id ="map">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Office address</h3>
                  <ul class="list-unstyled">
                    <li>2nd Floor, Sri Dhatri Nivas, Opposite Manyata Tech Park.<br/> Nagawara, Bengaluru, Karnataka 560045</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span footer-view></span>
        <script>
          $(document).ready(function() {
            $.validate()
            $(document).scrollTop(0);
            $('.flexslider').flexslider({
               animationLoop: true,
              animation: "fade",
              slideshowSpeed: 5000,
              animationSpeed: 2000,
            });
            $('.infinetCarasoul').slick({
              dots: false,
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 1,
              vertical:false,
              speed:800,
              autoplay: true,
              autoplaySpeed: 15000,
              pauseOnHover:true,
              arrows: false,
              pauseOnHover:true,
              focusOnSelect:false,

              responsive: [
              {
                breakpoint: 1024,
                settings: {
                  dots: false,
                  infinite: true,
                  slidesToShow: 3,
                  slidesToScroll: 1,
                  vertical:false,
                  speed:800,
                  autoplay: true,
                  autoplaySpeed: 15000,
                  pauseOnHover:true,
                  arrows: false,
                  pauseOnHover:true,
                  focusOnSelect:false
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }]
            });
            $('.scrollup').on('click',function(){
              $("html, body").animate({
                scrollTop: 0
              }, 1000);
              return false;
            })
            $('.slick-slide .imagehover').on('mouseover',function(e){
              $(this).closest('.imageborder').addClass('slide--has-caption')
            });
            $('.slick-slide .imagehover').on('mouseout',function(e){
              $(this).closest('.imageborder').removeClass('slide--has-caption')
            });
            $('.btnClr').click(function(){
              $('select').val('')
              $('input[type="text"]').val('');
            });
            $('#mobileNumber').on('keypress',function(e) {
              var charCode = (e.which) ? e.which : e.keyCode;
              if (charCode == 8) return true;
              var keynum;
              var keychar;
              var numcheck = /[+0-9]/;
              if (window.event) 
              {
                keynum = e.keyCode;
              }
              else {
                if (e.which) 
                {
                  keynum = e.which;
                }
                else return true;
              }
              keychar = String.fromCharCode(keynum);
              return numcheck.test(keychar); 
            });
            $('#btnContactUs').on('click',function(){
              data ={}
              data.name = $('#name').val()
              data.email = $('#email').val()
              data.mobileNumber = $('#mobileNumber').val()
              data.message = $('#message').val()
              var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i)
              if($('#name').val()!= "" && $('#email').val()!= "" && $('#mobileNumber').val()!="" && $('#message').val() !="" && pattern.test(data.email)){
                 $('#contactUs').css('opacity','0.1')
                 $('.loader').show()
                $.ajax({
                  url: '/sendmails/mailing',
                  method: 'get',
                  data: data,
                  success: function(res){
                    if(res.status_code == 200){
                      debugger;
                       $('#contactUs').css('opacity','')
                       $('.loader').hide()
                        $('.successMailer').show()
                      $('input[type="text"], textarea,input[type="email"]').val('');
                      $('.flash_message').animate({opacity:0},3000)
                      setTimeout(function(){$('.successMailer').hide() }, 7000);
                    }else{
                       $('#contactUs').css('opacity','')
                       $('.loader').hide()
                        $('$.errorMailer').show()
                      $('.flash_message').animate({opacity:0},3000)
                      setTimeout(function(){$('.successMailer').hide() }, 7000);
                    }
                  }
                })
              }
            })
          })

        </script>

