<section id="HomeSlider">
  <span navigate-view></span>
  <div class="banner-cnt">
    <!-- <h1><span style="color:#12c7e5">Gate 2018 & 2019</span></h1> -->
    <h1><span style="color:#12c7e5">hello</span></h1>
<!--  <ul class="list-inline home-tag">
<li style="color:#12c7e5">Click hear</li>
</ul> -->
<div class="button-8">
  <div class="eff-8"></div>
  <!-- <a class="link hvr-float-shadow" href="#Contact" >Click Hear</a> -->
</div>

</div>
<div class="flexslider" id="slider">
  <ul class="slides">
    <li class="homePageImages flex-active-slide" data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
      <img alt="test alt"   title="test title" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=" flex-active-slide  homePageImages">
      <img alt="alt slider2"  title="title slider2" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide homePageImages">
      <img alt="alt test3"   title="alt title3" src="assets/0.jpg" draggable="false">
    </li>
    <li data-thumb-alt=""  float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide homePageImages">
      <img alt="alt test3"  title="alt title3" src="assets/0.jpg" draggable="false">
    </li>
  </ul>
  <ol class="flex-control-nav flex-control-paging">
    <li>
      <a href="#" class="">1</a>
    </li>
    <li>
      <a href="#" class="">2</a>
    </li>
    <li>
      <a href="#" class="flex-active">3</a>
    </li>
  </ol>
  <ul class="flex-direction-nav">
    <li class="flex-nav-prev">
      <a class="flex-prev" href="#">Previous</a>
    </li>
    <li class="flex-nav-next">
      <a class="flex-next" href="#">Next</a>
    </li>
  </ul>
</div>
</section>
<a href="#" class="scrollup" title ="scroll top"><i class="fa fa-angle-up"></i></a>
<div class="container animatedSlide">
  <div class="row">
    <div class="col-md-12">
      <h3 class ="welcomeMsg">Welcome To my site</h3>
      <p class="descriptionWelcome">content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added content yet to be added</p>
    </div>
  </div>
</div>
<hr class="horizontal animatedSlide"  />
<h3 class="contentHeading animatedSlide">content to be added</h3>
<div id="infinetCarasoul" class ="animatedSlide infinetCarasoul">
 <div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img2.jpg" width="500" height="213" class="imagehover"/>
  <div class="caption" >
    <h3 class ='nameOfThePerson'>Hello test</h3>
    <p>wecome</p>
    <p>hello</p>
  </div>
</div>
<div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img33.jpg" width="500" height="213" class="imagehover" />
  <div class="caption">
    <h3 class ='nameOfThePerson'>Hello test</h3>
    <p>wecome</p>
    <p>hello</p>
  </div>
</div>
<div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img5.jpg" width="500" height="213" class="imagehover" />
  <div class="caption">
    <h3 class ='nameOfThePerson'>Hello test</h3>
    <p>wecome</p>
    <p>hello</p>
  </div>
</div>
<div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img6.jpg" width="500" height="213" class="imagehover" />
  <div class="caption" >
    <h3 class ='nameOfThePerson'>Hello test</h3>
    <p>wecome</p>
    <p>hello</p>
  </div>
</div>
<div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img6.jpg" width="500" height="213" class="imagehover" />
  <div class="caption">
   <h3 class ='nameOfThePerson'>Hello test</h3>
   <p>wecome</p>
   <p>hello</p>
 </div>
</div>
<div class ="imageborder slick-slide slide">
  <img alt="" src="assets/img3.jpg" width="500" height="213" class="imagehover"/>
  <div class="caption">
   <h3 class ='nameOfThePerson'>Hello test</h3>
   <p>wecome</p>
   <p>hello</p>
 </div>
</div>
</div>
<hr class="horizontal animatedSlide"  />
<div class="container animatedSlide" style="margin-top: 3%";>
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">
                  Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                </div>
                <div class="form-group">
                  <label for="email">
                    Email Address</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                  </div>
                  <div class="form-group">
                    <label for="email">
                      Mobile Number</label>
                      <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span>
                      </span>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">
                        Message</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                        placeholder="Message"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-push-4">

                     <button type="submit" class="btn btn-info pull-left" id="btnContactUs" style="margin-left: 2%;width: 30%;">
                      Contact me</button><button type="submit" class="btn btn-default pull-left" id="resetForm" style="margin-left: 2%">
                      Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr class="horizontal animatedSlide"/>
        <div class="container animatedSlide contactInfo">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div ng-controller ="mapShowCntrl">
                    <div id ="map">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3>Office address</h3>
                  <ul class="list-unstyled">
                    <li>2nd Floor, Sri Dhatri Nivas, Opposite Manyata Tech Park.<br/> Nagawara, Bengaluru, Karnataka 560045</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer-distributed animatedSlide">
          <div class="footer-left">
            <h3><img src="assets/codingmartlogo.png" style="width: 42%;"></h3>
            <p class="footer-company-name">Copyright © 2015 - 16 | Codingmart Technologies Pvt. Ltd.</p>
          </div>
          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>II Floor,Sri Datri Nivas Opposite to Manyata Teck Park.<br />Nagawara</span>
                Bangalore -560045 </p>
              </div>
              <div>
                <i class="glyphicon glyphicon-earphone"></i>
                <p>+91-89511-12340</p>
              </div>
              <div>
                <i class="glyphicon glyphicon-envelope"></i>
                <p><a href="mailto:code@codiingmart.com">code@codingmart.com</a></p>
              </div>
            </div>
            <div class="footer-right">
              <p class="footer-company-about">
                <span>About the company</span>
                Codingmart was created by a bunch of people who have always challenged status quo and wanted to combine forces to make positive impact on the lives of entrepreneurs and consumers alike.
              </p>
              <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline"> 
                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>  
                <li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </footer>
          <script>
            $(document).ready(function() {
             $(document).scrollTop(0);
             $('.flexslider').flexslider({
               animationLoop: true,
              animation: "fade",
              slideshowSpeed: 5000,
              animationSpeed: 2000,
            });
             $('.infinetCarasoul').slick({
              dots: false,
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 1,
              vertical:false,
              speed:800,
              autoplay: true,
              autoplaySpeed: 15000,
              pauseOnHover:true,
              arrows: false,
              pauseOnHover:true,
              focusOnSelect:false,
              responsive: [
              {
                breakpoint: 1024,
                settings: {
                  dots: false,
                  infinite: true,
                  slidesToShow: 3,
                  slidesToScroll: 1,
                  vertical:false,
                  speed:800,
                  autoplay: true,
                  autoplaySpeed: 15000,
                  pauseOnHover:true,
                  arrows: false,
                  pauseOnHover:true,
                  focusOnSelect:false
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }]
            });
             
            $('.scrollup').on('click',function(){
              $("html, body").animate({
                scrollTop: 0
            }, 1000);
            return false;
            })
            $('.slick-slide .imagehover').on('mouseover',function(e){
             $(this).closest('.imageborder').addClass('slide--has-caption')
           });
            $('.slick-slide .imagehover').on('mouseout',function(e){
              $(this).closest('.imageborder').removeClass('slide--has-caption')
            });
            $(window).scroll(function() {
              $(".animatedSlide").each(function(){
                var pos = $(this).offset().top;
                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                  $(this).addClass("animatedSlideeach");
                }
              });
              if($(this).scrollTop() > 350){
                $('.scrollup').fadeIn();
              }
              else{
                $('.scrollup').fadeOut();
              }
            });
          })

        </script>

