<div navigate-view ></div>
<div class="container" style="margin-top: 5%;">
	<div class="row">
		<div class="col-md-12 col-md-push-1 col-sm-12 col-xs-12">
			<img src="assets/examdetail.jpg">
			<h4 style="text-align: center; margin-top: 3%">PSUs (BHEL, NTPC, IOCL Etc)</h4>
			<section id="philosophy" style="padding: 0px 0px 0px 0px; border-bottom:0px;">
				<p style="font-size: inherit;">Public Sector Undertaking (PSU) is a Government owned corporation or a company in which Central or State Government have more than 51% share. Basically these Government companies run like private companies and share profits to Government. A career with PSU requires, a strong and in-depth technical knowledge and understanding of core engineering Principals. GATE is one such exam, where ones technical and general aptitude is tested. Today, more than 2000 jobs are available for a fresh graduate in engineering in major PSUs in India. The list includes IOCL BHEL, NTPC, BPCL, CEL Power Grid and likes.
					All these Public sector companies recruit Engineer Trainee (ET) based on the GATE scores. Initially they would shortlist candidates based on GATE scores and then the process is followed by GD and Interview for assessment of different facets of knowledge.</p>
				</section>
			</div>
		</div>
		<table class=" table">
			<tbody>
				<tr>
					<td>
						<div class="clearfix">
							<img src="assets/p1.jpg" class="img-responsive pull-left gap-right">
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :MDL</li>
								<li>Date of starting : Starts date :18.12.2015 to </li>
								<li>End date :01.02.2016</li>
								<li>Number of vacancies : 35</li>
								<li>Streams Eligible : ME, EE</li>
								<li>CTC : 5.98-14.77 lakhs</li>
								<li>Links: <a href="http://epaperbeta.timesofindia.com/Gallery.aspx?id=02_09_2015_012_024&amp;type=A&amp;eid=31809" target="_blank">Click here for more details</a></li>
							</ul>
						</div>

					</td>
					<td>
						<div class="clearfix">
							<img src="assets/p2.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :BPCL</li>
								<li>Date of starting : Starts date : 17.12.2015 </li>
								<li>End date : 30.01.2016</li>
								<li>Number of vacancies : NA</li>
								<li>Streams Eligible : ME, IN, CH</li>
								<li>CTC : Rs. 24900- 50500/- p.m</li>
								<li>Links: <a href="https://bharatpetroleum.com/Careers/Careers.aspx" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="clearfix">
							<img src="assets/p3.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name : Indian Oil</li>
								<li>Date of starting : Start Date : 17.12.2015 </li>
								<li>End date : 07.02.2016</li>
								<li>Number of vacancies : NA</li>
								<li>Streams Eligible : CH, CE, CS, EE, EC, IN, ME, MT, PE, XE</li>
								<li>CTC : Rs 11.25 lakhs per annum</li>
								<!-- <li>Links: <a href="#" target="_blank">Click here for more details</a></li>-->
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/p4.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :ONGC</li>
								<li>Date of starting : After January </li>
								<li>2016(tentatively)</li>
								<li>Number of vacancies : NA</li>
								<li>Streams Eligible : CS, ME, PE, CE, EE, EC, PH, IN, CH, GG, CY, MA</li>
								<li>CTC : Rs. 24900-50,500 p.m</li>
								<li>Links: <a href="http://www.ongcindia.com/wps/wcm/connect/44e35914-48d5-4eaf-83f6-66d39188a61b/gtengadvt.pdf?MOD=AJPERES&amp;CACHEID=44e35914-48d5-4eaf-83f6-66d39188a61b" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td >
						<div class="clearfix">
							<img src="assets/p5.jpg" class="img-responsive pull-left gap-right">
					
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name : 	BHEL</li>
								<li>Date of starting : Start Date : 04.01.2016 </li>
								<li>Last Date : 01.02.2016 / offline 08.02.2016</li>
								<li>Number of vacancies : 200</li>
								<li>Streams Eligible: ME, EE, EC and MT</li>
								<li>CTC : 20600- 46500 p.m</li>
								<li>Links: <a href="http://epaperbeta.timesofindia.com/Gallery.aspx?id=09_09_2015_015_015&amp;type=A&amp;eid=31809" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/p6.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :GAIL</li>
								<li>Date of starting :Start Date : 22.12.2015 </li>
								<li>Last Date : 29.01.2016</li>
								<li>Number of vacancies : 67</li>
								<li>Streams Eligible : CH, ME , EE, IN, CS and EC</li>
								<li>CTC : Rs. 24900 -50500 p.m</li>
								<li>Links: <a href="http://www.gailonline.com/final_site/pdf/DETAILED_ADVT_ET_08-09-2015.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td>
						<div class="clearfix">
							<img src="assets/p7.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name PSPCL</li>
								<li>Date of starting : NA </li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: EE</li>
								<li>CTC: 16650-39100 + Rs. 5800 Grade pay</li>
								<!--<li>Links: <a href="http://epaperbeta.timesofindia.com/Gallery.aspx?id=02_09_2015_012_024&type=A&eid=31809" target="_blank">Click here for more details</a></li>-->
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/p8.jpg" class="img-responsive pull-left gap-right">
					
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :HPCL</li>
								<li>Date of starting : Start Date : 19.12.2015</li>
								<li>Last Date : 02.02.2016</li>
								<li>Number of vacancies : NA</li>
								<li>Streams Eligible : ME, CE, EE, EC, IN, CH</li>
								<li>CTC : Rs. 24,900 – 50,500 p.m</li>
								<li>Links: <a href="http://www.hindustanpetroleum.com/documents/pdf/GATE-2016.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td >
						<div class="clearfix">
							<img src="assets/p9.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name : NTPC</li>
								<li>Date of starting : Start Date: 05.01.2016</li>
								<li>Last Date: 29.01.2016</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible : EE, ME, EC, CE, CS, IT</li>
								<li>CTC: Rs. 24900-3%-50500 p.m</li>
								<li>Links: <a href="http://ntpccareers.net/et16/hm.php" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/p10.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name : Powe Grid</li>
								<li>Date of starting: Start Date: 15.01.2016</li>
								<li>Last Date: 29.02.2016</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: EE ,EC, CE, CS</li>
								<li>CTC: Rs. Rs. 8.15 lakhs -Rs. 14.44 lakhs p.a</li>
								<li>Links: <a href="http://www.powergridindia.com/_layouts/PowerGrid/WriteReadData/file/career/cc/et21/Detailed%20Advt_ET_21.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td >
						<div class="clearfix">
							<img src="assets/s1.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :NBCC</li>
								<li>Date of starting : Start Date: last week of December</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: CE</li>
								<li>CTC: Rs. 16400- 40500 p.m</li>
								<li>Links: <a href="http://www.nbccindia.com/nbccindia/public/pdf_data_pub/jobs/NBCCMTEnglish.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/s2.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :WBSEDCL</li>
								<li>Date of starting: Start Date: 17.12.2015</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: EE</li>
								<li>CTC: NA</li>
								<li>Links: <a href="http://epaperbeta.timesofindia.com/Gallery.aspx?id=16_09_2015_012_046&amp;type=A&amp;eid=31809" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td >
						<div class="clearfix">
							<img src="assets/s3.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :NFL</li>
								<li>Date of starting : NA</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: CH, ME, EE, IN</li>
								<li>CTC: NA</li>
								<li>Links: <a href="http://lh3.googleusercontent.com/-f7I_2LDSST8/VfeoVVq0OYI/AAAAAAAA5c4/fZzrK52-4pU/s1600-h/National%20Fertilizers%20GATE%202016%20indgovtjobs[3].png" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/s4.jpg" class="img-responsive pull-left gap-right">
						
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name Neyveli Lignite Corporation ltd</li>
								<li>Date of starting: Start Date: 23.12.2015</li>
								<li>Last Date: 22.01.2016</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: ME, EE, EC, CE ,IN, CS, MN</li>
								<li>CTC: NA</li>
								<!--<li>Links: <a href="http://epaperbeta.timesofindia.com/Gallery.aspx?id=16_09_2015_012_046&type=A&eid=31809" target="_blank">Click here for more details</a></li>-->
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="clearfix">
							<img src="assets/s5.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :OIL</li>
								<li>Date of starting : Start Date: 15.01.2016</li>
								<li>Last Date: 14.02.2016</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: ME, GG</li>
								<li>CTC: Rs. 24900- 50500/- p.m</li>
								<li>Links: <a href="http://www.oil-india.com/Document/Career/ADVERTISEMENT_IT_GATE.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/s6.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :Cabinet Secretariat, Govt of India</li>
								<li>Date of starting: After March 19, 2016</li>
								<li>Number of vacancies: 20</li>
								<li>Streams Eligible: CS,EC, PH, CY</li>
								<li>CTC: Rs.15600- 39100 with grade pay of 5400/- p.m.</li>
								<li>Links: <a href="http://www.davp.nic.in/WriteReadData/ADS/eng_58101_25_1516b.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td>
						<div class="clearfix">
							<img src="assets/s7.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :NHPC</li>
								<li>Date of starting : Start Date: 01.01.2016</li>
								<li>Last Date: 01.02.2016</li>
								<li>Number of vacancies: 99</li>
								<li>Streams Eligible: EE,CE,ME,GG</li>
								<li>CTC: Rs 20600- 3%- 46500 (IDA) p.m </li>
								<li>Links: <a href="http://www.nhpcindia.com/writereaddata/assets/pdf/Gate2016-Advertisement.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/s8.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :PSTCL</li>
								<li>Date of starting: NA</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: EE,ME, EC, IN, CE, CS</li>
								<li>CTC: NA</li>
								<li>Links: <a href="http://www.pstcl.org/PDF/Public_Notice_Gate_Rect.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr >
					<td >
						<div class="clearfix">
							<img src="assets/s9.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :IPR</li>
								<li>Date of starting : NA</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: NA</li>
								<li>CTC:NA </li>
								<li>Links: <a href="http://www.ipr.res.in/documents/TTP%20GATE%20IPR%20HOMEPAGE.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
					<td >
						<div class="clearfix">
							<img src="assets/s10.jpg" class="img-responsive pull-left gap-right">
							
							<ul class="liststyle">
							<li class ="cpmpanyName">Company name :CEL</li>
								<li>Date of starting: Start Date: 18.12.2015</li>
								<li>Last Date: 15.01.2016</li>
								<li>Number of vacancies: NA</li>
								<li>Streams Eligible: EC, ME, EE</li>
								<li>CTC: 6.50 Lakhs p.a</li>
								<li>Links: <a href="http://www.celindia.co.in/drupal7/sites/default/files/GATE-2016-Advertisement.pdf" target="_blank">Click here for more details</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<span footer-view></span>
	<style type="text/css">
		.liststyle li{
			list-style: none;
			padding-left: 29%;
			font-size: medium;
			font-weight: bold;
		}
		.liststyle li a {
			color: #e00f9e;
		}
		
		.gap-right {
			margin-right: 10px; 
		}
		.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: top;
			border: 1px solid #ddd;
		}
		.cpmpanyName {
			color: #478ecb;
		}
	</style>