<div navigate-view ></div>
<div class="container" style="margin-top: 8%;">
	<div class="row">
		<div class="col-md-12  col-sm-12 col-xs-12">
			<img src="assets/syllabus.jpg">
		</div>
	</div>
</div>
<div class="container-fluid"  id="tabs" >
	<!-- <h3 style="color: #1b80ac; font-weight: bold;">syllabus</h3> -->
	<div class="row">
		<div class="col-sm-3 col-lg-4 col-md-4">
		<h3 class="heading">Syllabus</h3>
			<nav class="navbar navbar-default navbar-fixed-side sideNavBar">

				<ul class ="sidenav">
					<li><a href="#tabs-1" style="padding-right: 43%;">Mechanical Engineering</a></li>
					<li><a href="#tabs-2" style="padding-right: 57%;">Civil Engineering</a></li>
					<li><a href="#tabs-3" style="padding-left: 2%;"> Electronics and Communication Engineering</a></li>
					<li><a href="#tabs-4" style="padding-right: 47%;">Electrical Engineering</a></li>
					<li><a href="#tabs-5" style="padding-left: 2%;">Electronics and Instrumentation Engineering</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-9 col-lg-8">
			<div id="tabs-1">
				<h3 class="heading">Mechanical Engineering</h3>
				<div class="sylabus_right">
					<h5 style="color:#555; font-size:18px;">GENERAL APTITUDE</h5>
					<ul style="text-align:left; margin-left:20px; line-height:30px; font-size:16px; color:#555; list-style-type:none;">
						<li>» <strong>Verbal Ability </strong>: English grammar, sentence completion, verbal analogies, word groups, instructions, critical reasoning and verbal deduction.</li>
						<li>» <strong>Numerical Ability</strong> : Numerical computation, numerical estimation, numerical</li>
					</ul>  

					<h5 style="color:#555; font-size:18px;">ENGINEERING MATHEMATICS</h5>     

					<p style="font-size:large;"><strong>Linear Algebra</strong> : Matrix algebra, systems of linear equations, eigenvalues and eigenvectors.</p>       

					<p style="font-size:large;"><strong>Calculus</strong> : Functions of single variable, limit, continuity and differentiability, mean value theorems, indeterminate forms; evaluation of definite and improper integrals; double and triple integrals; partial derivatives, total derivative, Taylor series (in one and two variables), maxima and minima, Fourier series; gradient, divergence and curl, vector identities, directional derivatives, line, surface and volume integrals, applications of Gauss, Stokes and Green’s theorems.</p> 

					<p style="font-size:large;"><strong>Differential equations</strong> : First order equations (linear and nonlinear); higher order linear differential equations with constant coefficients; Euler-Cauchy equation; initial and boundary value problems; Laplace transforms; solutions of heat, wave and Laplace’s equations.</p>

					<p style="font-size:large;"><strong>Complex variables</strong> : Analytic functions; Cauchy-Riemann equations; Cauchy’s integral theorem and integral formula; Taylor and Laurent series.</p>

					<p style="font-size:large;"><strong>Probability and Statistics</strong> : Definitions of probability, sampling theorems, conditional probability; mean, median, mode and standard deviation; random variables, binomial, Poisson and normal distributions.</p> 

					<p style="font-size:large;"><strong>Numerical Methods</strong> : Numerical solutions of linear and non-linear algebraic equations; integration by trapezoidal and Simpson’s rules; single and multi-step methods for differential equations.</p>

					<h5 style="color:#555; font-size:18px;">MECHANICS AND DESIGN</h5>     

					<p style="font-size:large;"><strong>Engineering Mechanics</strong> : Free-body diagrams and equilibrium; trusses and frames; virtual work; kinematics and dynamics of particles and of rigid bodies in plane motion; impulse and momentum (linearand angular) andenergy formulations, collisions.</p>

					<p style="font-size:large;"><strong>Mechanics of Materials</strong> : Stress and strain, elastic constants, Poisson’s ratio; Mohr’s circle for plane stress and plane strain; thin cylinders; shear force and bending moment diagrams; bending and shear stresses;deflection of beams; torsion of circular shafts; Euler’s theory of columns; energy methods; thermal stresses; strain gauges and rosettes; testing of materials with universal testing machine; testing of hardness and impact strength.</p>
					<p style="font-size:large;"><strong>Theory of Machines</strong> : Displacement, velocity and acceleration analysis of plane mechanisms; dynamic analysis of linkages; cams; gears and gear trains; flywheels and governors; balancing of reciprocating and rotating masses; gyroscope.</p>

					<p style="font-size:large;"><strong>Vibrations</strong> : Free and forced vibration of single degree of freedom systems, effect of damping; vibration isolation; resonance; critical speeds of shafts.</p>

					<p style="font-size:large;"><strong>Machine Design</strong> : Design for static and dynamic loading; failure theories; fatigue strength and the S-N diagram; principles of the design of machine elements such as bolted, riveted and welded joints; shafts, gears, rolling and sliding contact bearings, brakes and clutches, springs.</p>

					<h5 style="color:#555; font-size:18px;">FLUID MECHANICS AND THERMAL SCIENCES</h5>  

					<p style="font-size:large;"><strong>Fluid Mechanics</strong> : Fluid properties; fluid statics, manometry, buoyancy, forces on submerged bodies, stability of floating bodies; control-volume analysis of mass, momentum and energy; fluid acceleration;<br>

						differential equations of continuity and momentum; Bernoulli’s equation; dimensional analysis; viscous flow of incompressible fluids, boundary layer, elementary turbulent flow, flow through pipes, head losses in pipes, bends and fittings.</p>

						<p style="font-size:large;"><strong>Heat-Transfer</strong> : Modes of heat transfer; one dimensional heat conduction, resistance concept and electrical analogy, heat transfer through fins; unsteady heat conduction, lumped parameter system, Heisler’s charts; thermal boundary layer, dimensionless parameters in free and forced convective heat transfer, heat transfer correlations for flow over flat plates and through pipes, effect of turbulence; heat exchanger performance, LMTD and NTU methods; radiative heat transfer, StefanBoltzmann law, Wien’s displacement law, black and grey surfaces, view factors, radiation network analysis.</p>

						<p style="font-size:large;"><strong>Thermodynamics</strong> : Thermodynamic systems and processes; properties of pure substances, behaviour of ideal and real gases; zeroth and first laws of thermodynamics, calculation of work and heat in various processes; second law of thermodynamics; thermodynamic property charts and tables, availability and irreversibility; thermodynamic relations.</p>

						<p style="font-size:large;"><strong>Applications</strong> : Power Engineering: Air and gas compressors; vapour and gas power cycles, concepts of regeneration and reheat. I.C. Engines: Air-standard Otto, Diesel and dual cycles. Refrigeration and air-conditioning: Vapour and gas refrigeration and heat pump cycles; properties of moist air, psychrometric chart, basic psychrometric processes. Turbomachinery: Impulse and reaction principles, velocity diagrams, Pelton-wheel, Francis and Kaplan turbines.</p>

						<h5 style="color:#555; font-size:18px;">MATERIALS, MANUFACTURING AND INDUSTRIAL ENGINEERING</h5>  

						<p style="font-size:large;"><strong>Engineering Materials</strong> : Structure and properties of engineering materials, phase diagrams, heat treatment, stress-strain diagrams for engineering materials.</p>
						<p style="font-size:large;"><strong>Casting, Forming and Joining Processes</strong> : Different types of castings, design of patterns, moulds and cores; solidification and cooling; riser and gating design. Plastic deformation and yield criteria; fundamentalsof hot and cold working processes; load estimation for bulk (forging, rolling, extrusion, drawing) and sheet (shearing, deep drawing, bending) metal forming processes; principles of powder metallurgy. Principles of welding, brazing, soldering and adhesive bonding.</p>

						<p style="font-size:large;"><strong>Machining and Machine Tool Operations</strong>: Mechanics of machining; basic machine tools; single and multi-point cutting tools, tool geometry and materials, tool life and wear; economics of machining; principles of non-traditional machining processes; principles of work holding, design of jigs and fixtures.</p></div>
					</div>
					<div id="tabs-2">
						<div class="sylabus_right"><h3 class="heading">CE :Civil Engineering GATE Exam Syllabus</h3>
                
                <h5 style="color:#555; font-size:18px;">GENERAL APTITUDE</h5>
                
             <ul style="text-align:left; margin-left:20px; line-height:30px; font-size:16px; color:#555; list-style-type:none;">
              <li>» <strong>Verbal Ability </strong>: English grammar, sentence completion, verbal analogies, word groups, instructions, critical reasoning and verbal deduction.</li>
              <li>» <strong>Numerical Ability</strong> : Numerical computation, numerical estimation, numerical</li>
              </ul>  
              
              <h5 style="color:#555; font-size:18px;">ENGINEERING MATHEMATICS</h5>     
              
              <p style="font-size:large;"><strong>Linear Algebra</strong> : Matrix algebra; Systems of linear equations; Eigen values and Eigen vectors.</p>       
              
              <p style="font-size:large;"><strong>Calculus</strong> : Functions of single variable; Limit, continuity and differentiability; Mean value theorems, local maxima and minima, Taylor and Maclaurin series; Evaluation of definite and indefinite integrals, application of definite integral to obtain area and volume; Partial derivatives; Total derivative; Gradient, Divergence and Curl, Vector identities, Directional derivatives, Line, Surface and Volume integrals, Stokes, Gauss and Green’s theorems.</p> 
              
              <p style="font-size:large;"><strong>Ordinary Differential Equation (ODE)</strong>: First order (linear and non-linear) equations; higher order linear equations with constant coefficients; Euler-Cauchy equations; Laplace transform and its application in solving linear ODEs; initial and boundary value problems.</p>
              
              <p style="font-size:large;"><strong>Partial Differential Equation (PDE)</strong> : Fourier series; separation of variables; solutions of onedimensional diffusion equation; first and second order one-dimensional wave equation and two-dimensional Laplace equation.</p>
                
               <p style="font-size:large;"><strong>Probability and Statistics</strong> : Definitions of probability and sampling theorems; Conditional probability; Discrete Random variables: Poisson and Binomial distributions; Continuous random variables: normal and exponential distributions; Descriptive statistics – Mean, median, mode and standard deviation; Hypothesis testing.</p> 
               
               <p style="font-size:large;"><strong>Numerical Methods</strong> : Accuracy and precision; error analysis. Numerical solutions of linear and non-linear algebraic equations; Least square approximation, Newton’s and Lagrange polynomials, numerical differentiation, Integration by trapezoidal and Simpson’s rule, single and multi-step methods for first order differential equations.</p>
               
                <h5 style="color:#555; font-size:18px;">STRUCTURAL ENGINEERING</h5>     
                
                <p style="font-size:large;">Engineering Mechanics: System of forces, free-body diagrams, equilibrium equations; Internal forces in structures; Friction and its applications; Kinematics of point mass and rigid body; Centre of mass; Euler’s equations of motion; Impulse-momentum; Energy methods; Principles of virtual work.</p>
                
                <p style="font-size:large;">Solid Mechanics: Bending moment and shear force in statically determinate beams; Simple stress and strain relationships; Theories of failures; Simple bending theory, flexural and shear stresses, shear centre; Uniform torsion, buckling of column, combined and direct bending stresses.</p>
                <p style="font-size:large;">Structural Analysis: Statically determinate and indeterminate structures by force/ energy methods; Method of superposition; Analysis of trusses, arches, beams, cables and frames; Displacement methods: Slope deflection and moment distribution methods; Influence lines; Stiffness and flexibility methods of structural analysis.</p>
                
                <p style="font-size:large;">Construction Materials and Management: Construction Materials: Structural steel – composition, material properties and behaviour; Concrete – constituents, mix design, short-term and long-term properties; Bricks and mortar; Timber; Bitumen. Construction Management: Types of construction projects; Tendering and construction contracts; Rate analysis and standard specifications; Cost estimation; Project planning and network analysis – PERT and CPM.</p>
                
                <p style="font-size:large;">Concrete Structures: Working stress, Limit state and Ultimate load design concepts; Design of beams, slabs, columns; Bond and development length; Prestressed concrete; Analysis of beam sections at transfer and service loads.</p>
                
                <p style="font-size:large;">Steel Structures: Working stress and Limit state design concepts; Design of tension and compression members, beams and beam- columns, column bases; Connections – simple and eccentric, beam-column connections, plate girders and trusses; Plastic analysis of beams and frames</p>
                
                <h5 style="color:#555; font-size:18px;">GEOTECHNICAL ENGINEERING</h5>  
                
                <p style="font-size:large;">Soil Mechanics: Origin of soils, soil structure and fabric; Three-phase system and phase relationships, index properties; Unified and Indian standard soil classification system; Permeability – one dimensional flow, Darcy’s law; Seepage through soils – two-dimensional flow, flow nets, uplift pressure, piping; Principle of effective stress, capillarity, seepage force and quicksand condition; Compaction in laboratory andfield conditions; Onedimensional consolidation, time rate of consolidation; Mohr’s circle, stress paths, effective and total shear strength parameters, characteristics of clays and sand.</p>

<p style="font-size:large;">Foundation Engineering: Sub-surface investigations – scope, drilling bore holes, sampling, plate load test, standard penetration and cone penetration tests; Earth pressure theories – Rankine and Coulomb; Stability of slopes – finite and infinite slopes, method of slices and Bishop’s method; Stress distribution in soils – Boussinesq’s and Westergaard’s theories, pressure bulbs; Shallow foundations – Terzaghi’s and Meyerhoff’s bearing capacity theories, effect of water table; Combined footing and raft foundation; Contact pressure; Settlement analysis in sands and clays; Deep foundations – types of piles, dynamic and static formulae, load capacity of piles in sands and clays, pile load test, negative skin friction.</p>

 <h5 style="color:#555; font-size:18px;">WATER RESOURCES ENGINEERING</h5>  


<p style="font-size:large;">Fluid Mechanics: Properties of fluids, fluid statics; Continuity, momentum, energy and corresponding equations; Potential flow, applications of momentum and energy equations; Laminar and turbulent flow; Flow in pipes, pipe networks; Concept of boundary layer and its growth.</p>

<p style="font-size:large;">Hydraulics: Forces on immersed bodies; Flow measurement in channels and pipes; Dimensional analysis and hydraulic similitude; Kinematics of flow, velocity triangles; Basics of hydraulic machines, specific speed of pumps and turbines; Channel Hydraulics – Energy-depth relationships, specific energy, critical flow, slope profile, hydraulic jump, uniform flow and gradually varied flow</p>

<p style="font-size:large;">Hydrology: Hydrologic cycle, precipitation, evaporation, evapo-transpiration, watershed, infiltration, unit hydrographs, hydrograph analysis, flood estimation and routing, reservoir capacity, reservoir and channel routing, surface run-off models, ground water hydrology – steady state well hydraulics and aquifers; Application of Darcy’s law.</p>

<p style="font-size:large;">Irrigation: Duty, delta, estimation of evapo-transpiration; Crop water requirements; Design of lined and unlined canals, head works, gravity dams and spillways; Design of weirs on permeable foundation; Types of irrigation systems, irrigation methods; Water logging and drainage; Canal regulatory works, cross-drainage structures, outlets and escapes.</p>

<h5 style="color:#555; font-size:18px;">ENVIRONMENTAL ENGINEERING</h5>  

<p style="font-size:large;">Water and Waste Water: Quality standards, basic unit processes and operations for water treatment. Drinking water standards, water requirements, basic unit operations and unit processes for surface water treatment, distribution of water. Sewage and sewerage treatment, quantity and characteristics of wastewater. Primary, secondary and tertiary treatment of wastewater, effluent discharge standards. Domestic wastewater treatment, quantity of characteristics of domestic wastewater, primary and secondary treatment. Unit operations and unit processes of domestic wastewater, sludge disposal.</p>
<p style="font-size:large;">Air Pollution: Types of pollutants, their sources and impacts, air pollution meteorology, air pollution control, air quality standards and limits.</p>

<p style="font-size:large;">Municipal Solid Wastes: Characteristics, generation, collection and transportation of solid wastes, engineered systems for solid waste management (reuse/ recycle, energy recovery, treatment and disposal).</p>

<p style="font-size:large;">Noise Pollution: Impacts of noise, permissible limits of noise pollution, measurement of noise and control of noise pollution.</p>

<h5 style="color:#555; font-size:18px;">TRANSPORTATION ENGINEERING</h5>

<p style="font-size:large;">Transportation Infrastructure: Highway alignment and engineering surveys; Geometric design of highways – cross-sectional elements, sight distances, horizontal and vertical alignments; Geometric design of railway track; Airport runway length, taxiway and exit taxiway design.</p>

<p style="font-size:large;">Highway Pavements: Highway materials – desirable properties and quality control tests; Design of bituminous paving mixes; Design factors for flexible and rigid pavements; Design of flexible pavement using IRC: 37-2012; Design of rigid pavements using IRC: 58-2011; Distresses in concrete pavements.</p>

<p style="font-size:large;">Traffic Engineering: Traffic studies on flow, speed, travel time – delay and O-D study, PCU, peak hour factor, parking study, accident study and analysis, statistical analysis of traffic data; Microscopic and macroscopic parameters of traffic flow, fundamental relationships; Control devices, signal design by Webster’s method; Types of intersections and channelization; Highway capacity and level of service of rural highways and urban roads.</p>

</div>
					</div>
					<div id="tabs-3">
						<div class="sylabus_right"><h3 class="heading">EC:Electronics and Communication Engineering GATE Exam Syllabus</h3>
                
                <h5 style="color:#555; font-size:18px;">GENERAL APTITUDE</h5>
                
             <ul style="text-align:left; margin-left:20px; line-height:30px; font-size:16px; color:#555; list-style-type:none;">
              <li>» <strong>Verbal Ability </strong>: English grammar, sentence completion, verbal analogies, word groups, instructions, critical reasoning and verbal deduction.</li>
              <li>» <strong>Numerical Ability</strong> : Numerical computation, numerical estimation, numerical</li>
              </ul>  
              
              <h5 style="color:#555; font-size:18px;">ENGINEERING MATHEMATICS</h5>     
              
              <p style="font-size:large;"><strong>Linear Algebra</strong> : Matrix algebra; Systems of linear equations; Eigen values and Eigen vectors.</p>       
              
              <p style="font-size:large;"><strong>Calculus</strong> : Functions of single variable; Limit, continuity and differentiability; Mean value theorems, local maxima and minima, Taylor and Maclaurin series; Evaluation of definite and indefinite integrals, application of definite integral to obtain area and volume; Partial derivatives; Total derivative; Gradient, Divergence and Curl, Vector identities, Directional derivatives, Line, Surface and Volume integrals, Stokes, Gauss and Green’s theorems.</p> 
              
              <p style="font-size:large;"><strong>Differential equations</strong>: First order equation (linear and nonlinear), Higher order linear differential equations with constant coefficients, Method of variation of parameters, Cauchy’s and Euler’s equations, Initial and boundary value problems, Partial Differential Equations and variable separable method.</p>
              
              <p style="font-size:large;"><strong>Complex variables</strong>: Analytic functions, Cauchy’s integral theorem and integral formula, Taylor’s and Laurent’ series, Residue theorem, solution integrals.</p>
                
               <p style="font-size:large;"><strong>Probability and Statistics</strong>: Sampling theorems, Conditional probability, Mean, median, mode and standard deviation, Random variables, Discrete and continuous distributions, Poisson, Normal and Binomial distribution, Correlation and regression analysis.</p> 
               
               <p style="font-size:large;"><strong>Numerical Methods</strong>: Solutions of non-linear algebraic equations, single and multi-step methods for differential equations.
Transform Theory: Fourier transform, Laplace transform, Z-transform.</p>
               
                <h5 style="color:#555; font-size:18px;">NETWORKS</h5>     
                
                <p style="font-size:large;">Network graphs: matrices associated with graphs; incidence, fundamental cut set and fundamental circuit matrices. Solution methods: nodal and mesh analysis. Network theorems: superposition, Thevenin and Norton’s maximum power transfer, Wye-Delta transformation. Steady state sinusoidal analysis using phasors. Linear constant coefficient differential equations; time domain analysis of simple RLC circuits, Solution of network equations using Laplace transform: frequency domain analysis of RLC circuits. 2-port network parameters: driving pointand transfer functions. State equations for networks.</p>
                
                <h5 style="color:#555; font-size:18px;">ELECTRONIC DEVICES</h5> 
                
                <p style="font-size:large;">Energy bands in silicon, intrinsic and extrinsic silicon. Carrier transport in silicon: diffusion current, drift current, mobility, and resistivity. Generation and recombination of carriers. p-n junction diode, Zener diode, tunnel diode, BJT, JFET, MOS capacitor, MOSFET, LED, p-I-n and avalanche photo diode, Basics of LASERs. Device technology: integrated circuits fabrication process, oxidation, diffusion, ion implantation, photolithography, n-tub, p-tub and twin-tub CMOS process.</p>
                
                 <h5 style="color:#555; font-size:18px;">ANALOG CIRCUITS</h5> 
                
                <p style="font-size:large;">Small Signal Equivalent circuits of diodes, BJTs, MOSFETs and analog CMOS. Simple diode circuits, clipping, clamping, rectifier, Biasing and bias stability of transistor and FET amplifiers. Amplifiers: single-and multi-stage, differential and operational, feedback, and power. Frequency response of amplifiers. Simple op-amp circuits. Filters. Sinusoidal oscillators; criterion for oscillation; single-transistor and op-amp configurations. Function generators and wave-shaping circuits, 555 Timers. Power supplies.</p>
                <h5 style="color:#555; font-size:18px;">DIGITAL CIRCUITS</h5> 
                
                <p style="font-size:large;">Boolean algebra, minimization of Boolean functions; logic gates; digital IC families (DTL, TTL, ECL, MOS, CMOS). Combinatorial circuits: arithmetic circuits, code converters, multiplexers, decoders, PROMs and PLAs. Sequential circuits: latches and flip-flops, counters and shift-registers. Sample and hold circuits, ADCs, DACs. Semiconductor memories. Microprocessor (8085): architecture, programming, memory and I/O interfacing.</p>
                
                <h5 style="color:#555; font-size:18px;">SIGNALS AND SYSTEMS</h5> 
                
                <p style="font-size:large;">Definitions and properties of Laplace transform, continuous-time and discrete-time Fourier series, continuous-time and discrete-time Fourier Transform, DFT and FFT, z-transform. Sampling theorem. Linear Time-Invariant (LTI) Systems: definitions and properties; causality, stability, impulse response, convolution, poles and zeros, parallel and cascade structure, frequency response, group delay, phase delay. Signal transmission through LTI systems.</p>
                
                <h5 style="color:#555; font-size:18px;">CONTROL SYSTEMS</h5>  
                
                <p style="font-size:large;">Basic control system components; block diagrammatic description, reduction of block diagrams. Open loop and closed loop (feedback) systems and stability analysis of these systems. Signal flow graphs and their use in determining transfer functions of systems; transient and steady state analysis of LTI control systems and frequency response. Tools and techniques for LTI control system analysis: root loci, Routh-Hurwitz criterion, Bode and Nyquist plots. Control system compensators: elements of lead and lag compensation, elements of Proportional-Integral-Derivative (PID) control. State variable representation and solution of state equation of LTI control systems.</p>

 <h5 style="color:#555; font-size:18px;">COMMUNICATIONS</h5>  


<p style="font-size:large;"><strong>Random signals and noise</strong>: probability, random variables, probability density function, autocorrelation, power spectral density. Analog communication systems: amplitude and angle modulation and demodulation systems, spectral analysis of these operations, superheterodyne receivers; elements of hardware, realizations of analog communication systems; signal-to-noise ratio (SNR) calculations for amplitude modulation (AM) and frequency modulation (FM) for low noise conditions. Fundamentals of information theory and channel capacity theorem.</p>

<p style="font-size:large;"><strong>Digital communication systems</strong>: pulse code modulation (PCM), differential pulse code modulation (DPCM), digital modulation schemes: amplitude, phase and frequency shift keying schemes (ASK, PSK, FSK), matched filter receivers, bandwidth consideration and probability of error calculations for these schemes. Basics of TDMA, FDMA and CDMA and GSM.</p>

<h5 style="color:#555; font-size:18px;">ELECTRO MAGNETICS</h5>  

<p style="font-size:large;">Elements of vector calculus: divergence and curl; Gauss’ and Stokes’ theorems, Maxwell’s equations: differential and integral forms. Wave equation, Poynting vector. Plane waves: propagation through various media; reflection and refraction; phase and group velocity; skin depth. Transmission lines: characteristic impedance; impedance transformation; Smith chart; impedance matching; S parameters, pulse excitation. Waveguides: modes in rectangular waveguides; boundary conditions; cut-off frequencies; dispersion relations. Basics of propagation in dielectric waveguide and optical fibers. Basics of Antennas: Dipole antennas; radiation pattern; antenna gain.</p>

</div>
					</div>
					<div id ="tabs-4">
					<div class="sylabus_right"><h3 class="heading">EE:Electrical Engineering GATE Exam Syllabus</h3>
                
                <h5 style="color:#555; font-size:18px;">GENERAL APTITUDE</h5>
                
             <ul style="text-align:left; margin-left:20px; line-height:30px; font-size:16px; color:#555; list-style-type:none;">
              <li>» <strong>Verbal Ability </strong>: English grammar, sentence completion, verbal analogies, word groups, instructions, critical reasoning and verbal deduction.</li>
              <li>» <strong>Numerical Ability</strong> : Numerical computation, numerical estimation, numerical</li>
              </ul>  
              
              <h5 style="color:#555; font-size:18px;">ENGINEERING MATHEMATICS</h5>     
              
              <p style="font-size:large;"><strong>Linear Algebra</strong>: Matrix Algebra, Systems of linear equations, Eigenvalues, Eigenvectors.</p>       
              
              <p style="font-size:large;"><strong>Calculus</strong> : Mean value theorems, Theorems of integral calculus, Evaluation of definite and improper integrals, Partial Derivatives, Maxima and minima, Multiple integrals, Fourier series, Vector identities, Directional derivatives, Line integral, Surface integral, Volume integral, Stokes’s theorem, Gauss’s theorem, Green’s theorem.</p> 
              
              <p style="font-size:large;"><strong>Differential equations</strong> : First order equations (linear and nonlinear), Higher order linear differential equations with constant coefficients, Method of variation of parameters, Cauchy’s equation, Euler’s equation, Initial and boundary value problems, Partial Differential Equations, Method of separation of variables.</p>
              
              <p style="font-size:large;"><strong>Complex variables</strong> : Analytic functions, Cauchy’s integral theorem, Cauchy’s integral formula, Taylor series, Laurent series, Residue theorem, Solution integrals.</p>
                
               <p style="font-size:large;"><strong>Probability and Statistics</strong> : Sampling theorems, Conditional probability, Mean, Median, Mode, Standard Deviation, Random variables, Discrete and Continuous distributions, Poisson distribution, Normal distribution, Binomial distribution, Correlation analysis, Regression analysis.</p> 
               
               <p style="font-size:large;"><strong>Numerical Methods</strong> : Solutions of nonlinear algebraic equations, Single and Multi‐step methods for differential equations.</p>
               
               <p style="font-size:large;"><strong>Transform Theory</strong> : Fourier Transform, Laplace Transform, z‐Transform</p>
               
                <h5 style="color:#555; font-size:18px;">ELECTRIC CIRCUIT</h5>     
                
                <p style="font-size:large;">Network graph, KCL, KVL, Node and Mesh analysis, Transient response of dc and ac networks, Sinusoidal steady‐state analysis, Resonance, Passive filters, Ideal current and voltage sources, Thevenin’s theorem, Norton’s theorem, Superposition theorem, Maximum power transfer theorem, Two‐port networks, Three phase circuits, Power and power factor in ac circuits.</p>
                
                <h5 style="color:#555; font-size:18px;">ELECTROMAGNETIC FIELDS</h5> 
                
                <p style="font-size:large;">Coulomb’s Law, Electric Field Intensity, Electric Flux Density, Gauss’s Law, Divergence, Electric field and potential due to point, line, plane and spherical charge distributions, Effect of dielectric medium, Capacitance of simple configurations, Biot‐Savart’s law, Ampere’s law, Curl, Faraday’s law, Lorentz force, Inductance, Magnetomotive force, Reluctance, Magnetic circuits,Self and Mutual inductance of simple configurations</p>
                
                 <h5 style="color:#555; font-size:18px;">SIGNALS AND SYSTEMS</h5> 
                
                <p style="font-size:large;">Representation of continuous and discrete‐time signals, Shifting and scaling operations, Linear Time Invariant and Causal systems, Fourier series representation of continuous periodic signals, Sampling theorem, Applications of Fourier Transform, Laplace Transform and z-Transform.</p>
                
                <h5 style="color:#555; font-size:18px;">ELECTRICAL MACHINES</h5> 
                
                <p style="font-size:large;">Single phase transformer: equivalent circuit, phasor diagram, open circuit and short circuit tests, regulation and efficiency; Three phase transformers: connections, parallel operation; Auto‐transformer, Electromechanical energy conversion principles, DC machines: separately excited, series and shunt, motoring and generating mode of operation and their characteristics, starting and speed control of dc motors; Three phase induction motors: principle of operation, types, performance, torque-speed characteristics, no-load and blocked rotor tests, equivalent circuit, starting and speed control; Operating principle of single phase induction motors; Synchronous machines: cylindrical and salient pole machines, performance, regulation and parallel operation of generators, starting of synchronous motor, characteristics; Types of losses and efficiency calculations of electric machines.</p>
                
                <h5 style="color:#555; font-size:18px;">POWER SYSTEMS</h5> 
                
                <p style="font-size:large;">Power generation concepts, ac and dc transmission concepts, Models and performance of transmission lines and cables, Series and shunt compensation, Electric field distribution and insulators, Distribution systems, Per‐unit quantities, Bus admittance matrix, GaussSeidel and Newton-Raphson load flow methods, Voltage and Frequency control, Power factor correction, Symmetrical components, Symmetrical and unsymmetrical fault analysis, Principles of over‐current, differential and distance protection; Circuit breakers, System stability concepts, Equal area criterion.</p>
                
                <h5 style="color:#555; font-size:18px;">CONTROL SYSTEMS</h5>  
                
                <p style="font-size:large;">Mathematical modeling and representation of systems, Feedback principle, transfer function, Block diagrams and Signal flow graphs, Transient and Steady‐state analysis of linear time invariant systems, Routh-Hurwitz and Nyquist criteria, Bode plots, Root loci, Stability analysis, Lag, Lead and Lead‐Lag compensators; P, PI and PID controllers; State space model, State transition matrix.</p>

 <h5 style="color:#555; font-size:18px;">ELECTRICAL AND ELECTRONIC MEASUREMENTS</h5>  


<p style="font-size:large;">Bridges and Potentiometers, Measurement of voltage, current, power, energy and power factor; Instrument transformers, Digital voltmeters and multimeters, Phase, Time and Frequency measurement; Oscilloscopes, Error analysis.</p>

<h5 style="color:#555; font-size:18px;">ANALOG AND DIGITAL ELECTRONICS</h5>  

<p style="font-size:large;">Characteristics of diodes, BJT, MOSFET; Simple diode circuits: clipping, clamping, rectifiers; Amplifiers: Biasing, Equivalent circuit and Frequency response; Oscillators and Feedback amplifiers; Operational amplifiers: Characteristics and applications; Simple active filters, VCOs and Timers, Combinational and Sequential logic circuits, Multiplexer, Demultiplexer, Schmitt trigger, Sample and hold circuits, A/D and D/A converters, 8085Microprocessor: Architecture, Programming and Interfacing.</p>

<h5 style="color:#555; font-size:18px;">POWER ELECTRONICS</h5>  

<p style="font-size:large;">Characteristics of semiconductor power devices: Diode, Thyristor, Triac, GTO, MOSFET, IGBT; DC to DC conversion: Buck, Boost and Buck-Boost converters; Single and three phase configuration of uncontrolled rectifiers, Line commutated thyristor based converters, Bidirectional ac to dc voltage source converters, Issues of line current harmonics, Power factor, Distortion factor of ac to dc converters, Single phase and three phase inverters, Sinusoidal pulse width modulation.</p>

</div>
					</div>
					<div id ="tabs-5">
					<div class="sylabus_right"><h3 class="heading">IE: Electronics and Instrumentation Engineering GATE Exam Syllabus</h3>
                
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 1: Engineering Mathematics</h5>     
              
              <p style="font-size:large;"><strong>Linear Algebra</strong>: Matrix algebra, systems of linear equations, Eigen values and Eigen vectors.</p>       
              
              <p style="font-size:large;"><strong>Calculus</strong> : Mean value theorems, theorems of integral calculus, partial derivatives, maxima and minima, multiple integrals, Fourier series, vector identities, line, surface and volume integrals, Stokes, Gauss and Green’s theorems.</p> 
              
              <p style="font-size:large;"><strong>Differential equations</strong> : First order equation (linear and nonlinear), higher order linear differential equations with constant coefficients, method of variation of parameters, Cauchy’s and Euler’s equations, initial and boundary value problems, and solution of partial differential equations: variable separable method.</p>
              
              <p style="font-size:large;"><strong>Analysis of complex variables</strong> : Analytic functions, Cauchy’s integral theorem and integral formula, Taylor’s and Laurent’s series, residue theorem, solution of integrals. Probability and Statistics: Sampling theorems, conditional probability, mean, median, mode and standard deviation, random variables, discrete and continuous distributions: normal, Poisson and binomial distributions.</p>
                
               <p style="font-size:large;"><strong>Numerical Methods</strong> : Matrix inversion, solutions of non-linear algebraic equations, iterative methods for solving differential equations, numerical integration, regression and correlation analysis.</p> 
               
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 2: Electrical Circuits :</h5>     
                
                <p style="font-size:large;">Voltage and current sources: independent, dependent, ideal and practical; v-I relationships of resistor, inductor, mutual inductor and capacitor; transient analysis of RLC circuits with dc excitation.</p>
                
                <p style="font-size:large;">Kirchoff’s laws, mesh and nodal analysis, superposition, Thevenin, Norton, maximum power transfer and reciprocity theorems.</p>
                
                <p style="font-size:large;">Peak-, average- and rms values of ac quantities; apparent-, active- and reactive powers; phasor analysis, impedance and admittance; series and parallel resonance, locus diagrams, realization of basic filters with R, L and C elements.</p>
                
                <p style="font-size:large;">One-port and two-port networks, driving point impedance and admittance, open-, and short circuit parameters.</p>
                
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 3: Signals and Systems</h5> 
                
                <p style="font-size:large;">Periodic, aperiodic and impulse signals; Laplace, Fourier and z-transforms; transfer function, frequency response of first and second order linear time invariant systems, impulse response of systems; convolution, correlation. Discrete time system: impulse response, frequency response, pulse transfer function; DFT and FFT; basics of IIR and FIR filters.</p>
                
                 <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 4: Control Systems</h5> 
                
                <p style="font-size:large;">Feedback principles, signal flow graphs, transient response, steady-state-errors, Bode plot, phase and gain margins, Routh and Nyquist criteria, root loci, design of lead, lag and lead-lag compensators, state-space representation of systems; time-delay systems; mechanical, hydraulic and pneumatic system components, synchro pair, servo and stepper motors, servo valves; on-off, P, P-I, P-I-D, cascade, feedforward, and ratio controllers.</p>
                
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 5: Analog Electronics</h5> 
                
                <p style="font-size:large;">Characteristics and applications of diode, Zener diode, BJT and MOSFET; small signal analysis of transistor circuits, feedback amplifiers. Characteristics of operational amplifiers; applications of opamps: difference amplifier, adder, subtractor, integrator, differentiator, instrumentation amplifier, precision rectifier, active filters and other circuits. Oscillators, signal generators, voltage controlled oscillators and phase locked loop.</p>
                
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 6: Digital Electronics</h5> 
                
                <p style="font-size:large;">Combinational logic circuits, minimization of Boolean functions. IC families: TTL and CMOS.</p>
                
                <p style="font-size:large;">Arithmetic circuits, comparators, Schmitt trigger, multi-vibrators, sequential circuits, flip-flops, shift registers, timers and counters; sample-and-hold circuit, multiplexer, analog-to- digital (successive approximation, integrating, flash and sigma-delta) and digital-to- analog converters (weighted R, R-2R ladder and current steering logic). Characteristics of ADC and DAC (resolution, quantization, significant bits, conversion/settling time); basics of number systems, 8-bit microprocessor and microcontroller: applications, memory and input-output interfacing; basics of data acquisition systems.</p>
                
                <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 7: Measurements</h5>  
                
                <p style="font-size:large;">SI units, systematic and random errors in measurement, expression of uncertainty – accuracy and precision index, propagation of errors. PMMC, MI and dynamometer type instruments; dc potentiometer; bridges for measurement of R, L and C, Q-meter. Measurement of voltage, current and power in single and three phase circuits; ac and dc current probes; true rms meters, voltage and current scaling, instrument transformers, timer/counter, time, phase and frequency measurements, digital voltmeter, digital multimeter; oscilloscope, shielding and grounding.</p>

 <h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 8: Sensors and Industrial Instrumentation</h5>  


<p style="font-size:large;">Resistive-, capacitive-, inductive-, piezoelectric-, Hall effect sensors and associated signal conditioning circuits; transducers for industrial instrumentation: displacement (linear and angular), velocity, acceleration, force, torque, vibration, shock, pressure (including low pressure), flow (differential pressure, variable area, electromagnetic, ultrasonic, turbine and open channel flow meters) temperature (thermocouple, bolometer, RTD (3/4 wire),thermistor, pyrometer and semiconductor); liquid level, pH, conductivity and viscosity measurement.</p>

<h5 style="color:#555; font-size:18px;">Instrumentation Engineering Section 9: Communication and Optical Instrumentation</h5>  

<p style="font-size:large;">Amplitude- and frequency modulation and demodulation; Shannon’s sampling theorem, pulse code modulation; frequency and time division multiplexing, amplitude-, phase-, frequency-, pulse shift keying for digital modulation; optical sources and detectors: LED, laser, photo-diode, light dependent resistor and their characteristics; interferometer: applications in metrology; basics of fiber optic sensing.</p>

</div>
					</div>
				</div>
			</div>
		</div>
		<span footer-view></span>
		<style type="text/css">
			.sidenav a{
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 21px;
				color: rgba(6, 144, 166, 0.8);
				display: block;
				transition: 0.3s;
				/*background-color: rgb(227, 158, 136);*/
			}
			.ui-tabs .ui-tabs-nav li{
				width:100%!important;
			}
			.navbar li{
				list-style-type: none;
			}
			.navbar a:hover .navbar-nav>li>a:focus {
				color: #333;
				/*background-color: transparent;*/
			}
			.navbar-fixed-side a:hover, .navbar-fixed-side a:focus {
				/*color: #FFAA00!important;*/
				/*transition: 0.3s all ease-in;*/
			}
			.sideNavBar{
				border-radius: 0;
				margin: 0;
				/*background: #e39e88;*/
				border: 0;
			}
			#tabs {
				background: none;
				border: none;
				margin-top: 3%;
			}
		.heading{
			color: #1b80ac;
			margin-top: -4%;
			padding-bottom: 6%;
		}
		.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 1.5em 2em;
    }
li p{
	font-size: large
}
		</style>
		<script type="text/javascript">
			$( function() {
				$( "#tabs" ).tabs();
			} );
		</script>